/* top level stylesheet */

/*Animatronics*/
@keyframes slideInFromTop {
    0% {
      transform: translateY(-6%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

/* light css reset*/
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

h3 {
    margin: 1rem 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 .5rem;
}

/*basic site level stuff */
header {
    animation: .8s ease-out 0s 1 slideInFromTop;
}

a {
    color: #0A81AB;
    text-decoration: none;
}

/* container and media */
.site-container {
    max-width: 90%;
    margin: auto;
    padding: 0px;
    background-color: white;
    /*border: 1px solid black;*/
}
