<template>
    <div class="text-left">
      <h4>Lorem Ipsum</h4>
      <p>Who is this Lorem Ipsum person anyway? They are everywhere. Drives me nuts because all they ever write about this person is complete jibberish.
          Who is this Lorem Ipsum person anyway? They are everywhere. Drives me nuts because all they ever write about this person is complete jibberish.
          Who is this Lorem Ipsum person anyway? They are everywhere. Drives me nuts because all they ever write about this person is complete jibberish.
          Who is this Lorem Ipsum person anyway? They are everywhere. Drives me nuts because all they ever write about this person is complete jibberish.
          Who is this Lorem Ipsum person anyway? They are everywhere. Drives me nuts because all they ever write about this person is complete jibberish.
      </p>
    </div>
</template>

<script>

</script>

<style scoped>
@keyframes slideInFromBottom {
    0% {
      transform: translateY(13%);
      opacity: 0;
    }
    50% {
      transform: translateY(13%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.text-left {
    padding: 1rem;
    text-align: left;
}
</style>