<template>
  <footer>
      <ul class="left">
        <li class="link "><a href="#">contact us</a></li>
        <li class="link"><a href="#">terms of use</a></li>
        <li class="link"><a href="#">privacy policy</a></li>
      </ul>
      <ul class="right">
        <li class="link">(c) 2022, Acellia LLC</li>
      </ul>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
footer {
  max-width: 100%;
  margin: auto;
  padding: 0;
  background-color: #a4c4ee;
  color: #0c4271;;
  color: #0c4271;
  text-align: center;
  min-height: 4.5em;
}
a {
  color: #0c4271;
}
a:hover {
  color: #ffffdf;  
}

ul {
    display: inline;
}

.link {
    margin: .7rem 1rem;
}
.link:hover {
    filter: brightness(1.5);
}

.left{
  float:left;
}
.right{
  float:right;
}
</style>
