<template>
  <div class="banner">
    <img class='header-img' alt="Acellia Logo" src="../assets/acellia_logo2.png">
    <h1>{{ msg }}</h1>
    <div>
      <input type="button" @click="challenge_click" value="I have a challenge" class="action-button coral"/>
      <input type="button" @click="solver_click" value="I've got your back" class="action-button coral-inverted"/>
    </div>
    <br/>

  </div>
</template>

<script>
import router from '../router/index';

export default {
  name: 'LargeBanner',
  props: {
    msg: String
  },
  methods: {
      challenge_click() {
          alert("challenge!");
      },
      solver_click() {
          alert("solver!");       
          router.push('/login');
      }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@keyframes slideInFromBottom {
    0% {
      transform: translateY(13%);
      opacity: 0;
    }
    50% {
      transform: translateY(13%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

h1 {
  font-size: 150%;
}

.banner {
  background-image: url("../assets/3team.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;

}

.action-button {
  animation: 1.6s ease-out 0s 1 slideInFromBottom;
  font-size: 1.5rem;
  padding: 1rem;
  border: .2rem solid;
  border-color: #0a81ab;
  margin: 1rem 5.5rem;
  border-radius: 1rem;
}

.coral {
  background-color: #0a81ab;
  color: #ffffef;
  transition: background-color .5s, border-color .5s;
}
.coral:hover {
  background-color: #a4c4ee;
  border-color: #a4c4ee;
}

.coral-inverted {
  background-color: #ffffff;
  color: #0a81ab;
  transition: background-color .5s, color .5s, border-color .5s;
}

.coral-inverted:hover {
  background-color: #a4c4ee;
  border-color: #a4c4ee;
  color: #ffffef;
}

.header-img {
    max-width: 39%;
}

.text-left {
    padding: 1rem;
    text-align: left;
}

</style>
