<template>
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

        <!--Login-->
        <div v-if="showPanel=='login'">
          <div class="modal-header">
            <slot name="header">
              Login
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <ul>
                <li class="login-elements">
                  <div class="user-login">
                    <label for="login">Login </label>
                    <input type="text" id="login" name="user-name" v-model="memberLogin" placeholder="login name or email" /><br/>
                  </div>
                </li>
                <li class="login-elements">
                  <div class="user-password">
                    <label for="password">Password </label>
                    <input type="password" id="password" name="user-password" v-model="memberPassword" placeholder="" /><br/>
                  </div>
                </li>
                <li class="login-elements">
                  <div>
                    <a href="#" @click="showForgotPanel">Forgot login or password</a><br/> 
                    <a href="#" @click="showCreatePanel">Create new account</a>
                  </div>
                </li>
                <li class="login-elements">
                  <button id="memberLogin" name="memberLogin" class="modal-default-button" @click="login">
                    Login
                  </button>
                  <button  id="memberLoginCancel" name="memberLoginCancel" class="modal-default-button" @click="cancelOperation">
                    Cancel
                  </button>
                </li>
              </ul>
            </slot>
          </div>
        </div>
        <!--Create Account-->
        <div v-if="showPanel=='create'">
          <div class="modal-header">
            <slot name="header">
              Create Account
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <ul>
                <li class="login-elements">
                  <div class="user-login">
                    <label for="createMemberName">Login Name</label>
                    <input type="text" id="createMemberName" name="createMemberName" v-model="createMemberName" placeholder="login name" /><br/>
                  </div>
                </li>
                <li class="login-elements">
                  <div class="user-login">
                    <label for="creatememberEmail">Email Address</label>
                    <input type="text" id="createMemberEmail" name="createMemberEmail" v-model="createMemberEmail" placeholder="email address" /><br/>
                  </div>
                </li>
                <li class="login-elements">
                  <div class="user-password">
                    <label for="createMemberPassword">Password</label>
                    <input type="createMemberPassword" id="createMemberPassword" name="createMemberPassword" v-model="createMemberPassword" placeholder="" /><br/>
                  </div>
                </li>
                <li class="login-elements">
                  <div class="user-password">
                    <label for="confirmMemberPassword">Confirm Password</label>
                    <input type="confirmMemberPassword" id="confirmMemberPassword" name="confirmMemberPassword" v-model="confirmMemberPassword" placeholder="" /><br/>
                  </div>
                </li>
                <li class="login-elements">
                  <div>
                    <a href="#" @click="showForgotPanel">Forgot login or password</a><br/> 
                    <a href="#" @click="showLoginPanel">Return to login</a>
                  </div>
                </li>
                <li class="login-elements">
                  <button  id="memberCreate" name="memberCreate" class="modal-default-button" @click="create">
                    Create Account
                  </button>
                  <button  id="memberCreateCancel" name="memberCreateCancel" class="modal-default-button" @click="cancelOperation">
                    Cancel
                  </button>
                </li>
              </ul>
            </slot>
          </div>
        </div>
        <!--Forgot Login-->
        <div v-if="showPanel=='forgot'">
          <div class="modal-header">
            <slot name="header">
              Forgot Login
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <ul>
                <li class="login-elements">
                  <div class="user-login">
                    <label for="forgotLogin">Login or email</label>
                    <input type="text" id="forgotLogin" name="forgotLogin" v-model="forgotLogin" placeholder="login name or email of your account" /><br/>
                  </div>
                </li>
                <li class="login-elements">
                  <div>
                    <a href="#" @click="showLoginPanel">Return to login</a><br/><br/> 
                    <a href="#" @click="showCreatePanel">Create new account</a>
                  </div>
                </li>
                <li class="login-elements">
                  <button  id="memberForgot" name="memberForgot" class="modal-default-button" @click="forgot">
                    Send Recovery Email
                  </button>
                  <button id="memberForgotCancel" name="memberForgotCancel" class="modal-default-button" @click="cancelOperation">
                    Cancel
                  </button>
                </li>
              </ul>
            </slot>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>
import {memberController} from '../controllers/memberController';
let ctrl = new memberController('http://localhost:8080/api');

export default {
  name: 'Login',
  data() {
    return {
      showPanel: "login",
      memberLogin: "",
      memberPassword: ""
    }
  },
  methods: {
    async login() {
      let isAuthenticated = await ctrl.authenticateMember(this.memberLogin, this.memberPassword);
      if(isAuthenticated == true){
        alert(`welcome ${this.memberLogin}`);
      } else {
        alert(`that didn't work`);
      }
    },
    cancelOperation(){
      //alert("cancel");
      this.$emit('cancel');
    },
    showCreatePanel(){ this.showPanel="create"},
    showForgotPanel(){ this.showPanel="forgot"},
    showLoginPanel(){ this.showPanel="login"}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@keyframes slideInFromTop {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.login-elements {
  padding: 1rem 0 0 0;
  width: 16rem;
}

.login-elements input {
  height: 2rem;
  width: 15.5rem;
  float: left;
}

.login-elements label
{
  float: left;
}

.login-elements a {
  float: left;
  text-align: right;
  margin: 0 0 1rem 0;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 6rem;
  height: 2.5rem;
  background-color: #42b983 ;
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}


</style>
